
<div class="card">
					<div class="card__image">
						<img src="Images/1.jpg" alt="This is awesome">
					</div>
					<div class="card__title">Jim Beam</div>
					<div class="card__price">$20.5</div>
					<div class="card__gr">40%</div>
					<div class="card__v">0.5L</div>
				</div>
			<div class="card">
				<div class="card__image">
					<img src="Images/2.png" alt="This is awesome">
				</div>
				<div class="card__title">Jim Beam</div>
				<div class="card__price">$20.5</div>
				<div class="card__gr">40%</div>
				<div class="card__v">0.5L</div>
			</div>
			<div class="card">
				<div class="card__image">
					<img src="Images/3.png" alt="This is awesome">
				</div>
				<div class="card__title">Jim Beam</div>
				<div class="card__price">$20.5</div>
				<div class="card__gr">40%</div>
				<div class="card__v">0.5L</div>
			</div>
			<div class="card">
				<div class="card__image">
					<img src="Images/4.png" alt="This is awesome">
				</div>
				<div class="card__title">Jim Beam</div>
				<div class="card__price">$20.5</div>
				<div class="card__gr">40%</div>
				<div class="card__v">0.5L</div>
			</div>
			<div class="card">
				<div class="card__image">
					<img src="Images/1.jpg" alt="This is awesome">
				</div>
				<div class="card__title">Jim Beam</div>
				<div class="card__price">$20.5</div>
				<div class="card__gr">40%</div>
				<div class="card__v">0.5L</div>
			</div>
			<div class="card">
				<div class="card__image">
					<img src="Images/1.jpg" alt="This is awesome">
				</div>
				<div class="card__title">Jim Beam</div>
				<div class="card__price">$20.5</div>
				<div class="card__gr">40%</div>
				<div class="card__v">0.5L</div>
			</div>
			<div class="card">
				<div class="card__image">
					<img src="Images/1.jpg" alt="This is awesome">
				</div>
				<div class="card__title">Jim Beam</div>
				<div class="card__price">$20.5</div>
				<div class="card__gr">40%</div>
				<div class="card__v">0.5L</div>
			</div>
			<div class="card">
				<div class="card__image">
					<img src="Images/1.jpg" alt="This is awesome">
				</div>
				<div class="card__title">Jim Beam</div>
				<div class="card__price">$20.5</div>
				<div class="card__gr">40%</div>
				<div class="card__v">0.5L</div>
			</div>
<!--<div class="card">
	<a href="../Cart.php?name={{card_title}}&price={{card_price}}&image={{card_image}}&type=Add">
		<div class="card__image">
				<img src={{card_image}} alt="">
		</div>
		<div class="card__title">{{card_title}}</div>
		<div class="card__price">${{card_price}}</div>	
		<div class="card__gr">{{card_price}}%</div>
		<div class="card__v">${{card_price}}L</div>
	</a>
</div>-->


