<div class="card">
		<div class="card__image">
				<img src={{card_image}} width="55px" height="169px"  alt="">
		</div>
		<div class="card__title">{{card_title}}</div>
		<div class="card__price">{{card_price}}$</div>	
		<div class="card__gr">{{card_gr}}%</div>
		<div class="card__v">{{card_v}}L</div>
		<div class="card__price">Количество:{{card_num}}</div>	
		<div class="card__price">Итог:{{total_price}}</div>	
		<a href="box.php?name={{card_title}}&price={{card_price}}&image={{card_image}}&type=Add" class="button-add_item">+</a>
		<a href="box.php?name={{card_title}}&price={{card_price}}&image={{card_image}}&type=Delete" class="button-add_item">-</a>
	</a>
</div>


