<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Бухариr</title>
	<link rel="shortcut icon" href="Images/Icon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="CSS/contacts.css">
</head>
<body>
</head>
<body>

    <header class="header">
        {% include 'header.html'%}
    </header>

    <div class="intro">
        <div class="intro__text">
        <h1>Контакты</h1>
       
        </intro__text>
        
    </div>
    </div>
    
    <div class="client__text">
        <div class="row">
           
            {% include 'opisahka.html'%}
            


        </div>
        
       
            </div>
        </div>
        <div class="right__col">
            <img class="clients-rightCol-pattern" src="Images/otkritost.png" alt="">
            <img class="clients-rightCol-pattern" src="Images/otkritost.png" alt="">
            <img class="clients-rightCol-pattern" src="Images/otkritost.png" alt="">
            
        </div>
    </div>
    
	

    {% include 'footer.html'%}
	
	
	

</body>
</html>