<div class="adv-wrapper adv-wrapper--bg-1">
    <div class="container adv-content-centre">
        <div class="adv__title">ООО «Бухарик», УНП 192490276. Лицензия на право осуществления розничной торговли алкогольными напитками и табачными изделиями №48516 от 17.06.2015 г.</div>
        <div class="wrapper__info">
            © Бухарик, 2015-2017<br>

        Наш рейтинг: 4.8 (Голосов: 25 из 30) ★★★★<br>

        4g.com / Звоните ☎ +375 29 838 06 24
        </div>
        
        <div class="ContactUs">
        
            Сотрудничество: +375 (17) 327 20 27<br>
            Корп.продажи: +375 (29) 613 34 22<br>
            Эл. почта: buharik@mail.ru<br>
            Запросить прайс: corp@buharik.by

        </div>
    </div>
</div>
