<div class="container1">

    <div class="header__inner">
        <div class="header__logo">
             Бухарик
        </div>

        <nav class="nav">
            <a class="link" href="{{ link_index }}">Главная</a>
            <a class="link" href="{{ link_shop }}">Магазин</a>
          <!--  <a class="link" href="fff">Расчет стоимости</a>-->
            <a class="link" href="{{ link_contacts }}">Контакты</a>
            <a class="link" href="{{ link_service }}">Услуги</a>
            <a class="link" href="#">Новости</a>
	    <a  class="link" href="../Cart.php">
				<div class="cart">
					<i class="fas fa-shopping-cart"></i>
					<div class="cart__number">{{cart_number}}</div>
				</div>Корзина
			</a>
        </nav>
    </div>
    </div>
