<div class="opisahka">
                <div class="adress">
                    г. Минск, ул. М.Богдановича, 108 
                </div>
                <div class="description">Магазин-дегустационный зал</div>
                <div class="datatime">ПН-ВС<br>9:00-20:00

                </div>
                <div class="phone">
                    +375295413052
                </div>
            </div>
            <div class="opisahka">
                <div class="adress">
                    г. Могилев, ул. Минское шоссе, 31  
                </div>
                <div class="description">Винная школа</div>
                <div class="datatime">ПН-ВС<br>9:00-20:00

                </div>
                <div class="phone">
                    +375295413052
                </div>
            </div>
       

            <div class="opisahka">
                <div class="adress">
                    г. Минск, ул. Притыцкого, 87 
                </div>
                <div class="description">Магазин-дегустационный зал</div>
                <div class="datatime">ПН-ВС<br>9:00-20:00

                </div>
                <div class="phone">
                    +375295413052
                </div>
            </div>
            <div class="opisahka">
                <div class="adress">
                    г. Минск, ул. Петра Мстиславца, 11. 
                </div>
                <div class="description">Магазин</div>
                <div class="datatime">ПН-ВС<br>9:00-20:00

                </div>
                <div class="phone">
                    +375295413052
                </div>
            </div>
            <div class="opisahka">
                <div class="adress">
                    г. Минск, ул. Притыцкого, 87 
                </div>
                <div class="description">Магазин-дегустационный зал</div>
                <div class="datatime">ПН-ВС<br>9:00-20:00

                </div>
                <div class="phone">
                    +375295413052
                </div>
            </div>
            <div class="opisahka">
                <div class="adress">
                    г. Минск, ул. Притыцкого, 87 
                </div>
                <div class="description">Магазин-дегустационный зал</div>
                <div class="datatime">ПН-ВС<br>9:00-20:00

                </div>
                <div class="phone">
                    +375295413052
                </div>
            </div>
