
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velesstroi</title>
    <link rel="stylesheet" href="css/price.css" >
</head>
<body>

    <header class="header">
        <div class="container">

        <div class="header__inner">
            <div class="header__logo">
                 Велесстрой
            </div>

            <nav class="nav">
                <a class="link" href="#">Портфолио</a>
                <a class="link" href="price.html">Цены</a>
                <a class="link" href="fff">Расчет стоимости</a>
                <a class="link" href="contact.html">Контакты</a>
                <a class="link" href="contact.html">Связь с нами</a>
            </nav>
        </div>
        </div>
    </header>

    <div class="Price"> <!--Закрыть блять его не забыть-->
    <div class="container">
                <div class="price__inner">
                    <h2>Работаем с любым бюджетом</h2>
                </div>

                <div class="opisahka">
                <div class="row">
                <div class="pricecosmetic">
                    <div class="num">1</div>
                    <div class="name">
                        Косметический ремонт
                    </div>
                    <div class="pr">от 135
                        руб./м&sup2; 
                    </div>
                </div>

                    <div class="pricecapital" >
                        <div class="num">2</div>
                        <div class="name">
                            Капитальный ремонт вторички
                        </div>
                        <div class="pr">от 215
                            руб./м&sup2; 
                        </div>
                    </div>

                    <div class="pricenew" >
                        <div class="num">3</div>
                        <div class="name">
                            Капитальный ремонт новостройки
                        </div>
                        <div class="pr">от 215
                            руб./м&sup2; 
                        </div>
                    </div>

                    <div class="pricedesign" >
                        <div class="num">4</div>
                        <div class="name">
                            Дизайнерский ремонт
                        </div>
                        <div class="pr">от 325
                            руб./м&sup2; 
                        </div>
                    </div>

                </div>

                <div class="column">

                    <div class="incl_bl">
                        <div class="name__text">
                            Потолки
                        </div>
                        <ul class="list">
                            <li>
                                Устройство
                                многоуровневого
                                ГКЛ-потолка
                                с
                                прямолинейными
                                элементами
                            </li>
                            <li>
                                Устройство
                                многоуровневого
                                ГКЛ-потолка
                                с
                                криволинейными
                                элементами
                            </li>
                            <li>
                                Устройство
                                многоуровневого
                                ГКЛ-потолка
                                комбинированного
                            </li>
                            <li>
                                Устройство
                                натяжного потолка
                            </li>
                            <li>
                                Устройство
                                многоуровневых натяжных потолков

                            </li>
                            <li>
                                И так далее блять
                            </li>
                        </ul>
                    </div>

                    <div class="incl_bl">
                        <div class="name__text">
                            Стены
                        </div>
                        <ul class="list">
                            <li>
                                Штукатурка
                                стен
                                высококачественная
                            </li>
                            <li>
                                Устройство
                                стен
                                из
                                ГКЛ
                            </li>
                            <li>
                                Шпатлевание
                                стен
                            </li>
                            <li>
                                Перепланировка
                            </li>
                            <li>
                                Возведение
                                стен
                                и
                                перегородок
                            </li>
                            <li>
                                Устройство
                                декоративной
                                штукатурки
                            </li>
                            <li>
                                Окраска
                                стен
                                (в
                                т.ч.
                                декоративная)
                            </li>
                            <li>
                                Оклейка
                                стен
                                обоями
                            </li>
                            <li>
                                Герметизация
                                оконных
                                проемов
                            </li>
                            <li>
                                Облицовка
                                плиткой
                            </li>
                            <li>
                                Устройство
                                проемов
                            </li>
                      
                    
                            <li>
                                Нанесение
                                венецианской
                                штукатурки
                            </li>
                         
                       
                        </ul>
                    </div>
                    <div class="incl_bl">
                        <div class="name__text">
                            Полы
                        </div>
                        <ul class="list">
                            <li>
                                Настил
                                линолеума
                            </li>
                            <li>
                                Настил
                                ламината
                            </li>
                        </ul>
                    </div>
                   <div class="incl_bl">
                                                        <div class="name__text">
                                                            Электромонтажные
                                                        </div>
                                                        <ul class="list">
                                                            <li>
                                                                Добавление
                                                                и
                                                                перенос
                                                                электроточек
                                                            </li>
                                                            <li>
                                                                Установка
                                                                осветительных
                                                                приборов
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="incl_bl">
                                                        <div class="name__text">
                                                            Сантехнические
                                                        </div>
                                                        <ul class="list">
                                                            <li>
                                                                Установка
                                                                сантехники
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="incl_bl">
                                                        <div class="name__text">
                                                            Снабжение
                                                            объекта
                                                            материалами
                                                        </div>
                                                    </div>
                                                    

                    
                </div>
                </div>



                </div>
    </div>

    <footer>
       
    </footer>
                
              
   
</body>
</html>