<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MacDonalds mazafucka</title>
	<link rel="shortcut icon" href="Images/Icon.ico" type="image/x-icon">
	<!--<link rel="stylesheet" href="/Lib/bootstrap/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="/Lib/bootstrap/css/bootstrap-grid.css">-->
	<link rel="stylesheet" type="text/css" href="CSS/Sales.css">
</head>
<body>
	<nav class="nav-wrapper">
		<div class="container">
			<div class="logo">MacDonalds</div>
			<div class="navigation">
				<a href="Menu.html" class="navigation_link">Menu</a>
				<a href="My_Location.html" class="navigation_link">My Location</a>
				<a href="Sales.html" class="navigation_link">Sales</a>
				<a href="#" class="navigation_link">News</a>
				<a href="#" class="navigation_link">About Us</a>
			</div>
			<div class="cart">
				<i class="fas fa-shopping-cart"></i>
				<div class="cart__number"> 3</div>
			</div>	
		</div>
	</nav>	
	<header class="header">
		<div class="container">
			<div class="header__content">
				<div class="header__title">Get all of this almoust for free</div>
			</div>		
		</div>
	</header>
	<div class="section">
		<div class="container">
			<h2 class="title">Good Choice!!</h2>
			<div class="subtitle">Take them as quickly as possible</div>
			<div class="card">
				<div class="card__image">
					<img src="Images/Big-Mac.jpg" alt="This is awesome">
				</div>
				<div class="card__title">Big Mac</div>
				<div class="card__price">$2.1</div>
			</div>
			<div class="card">
				<div class="card__image">
					<img src="Images/Potato-Free.jpg" alt="This is awesome">
				</div>
				<div class="card__title">Potato Free</div>
				<div class="card__price">$1.2</div>
			</div>
			<div class="card">
				<div class="card__image">
					<img src="Images/shamrock-shake.jpg" alt="This is awesome">
				</div>
				<div class="card__title">Shamrock-shake</div>
				<div class="card__price">$1.5</div>
			</div>
			<div class="card">
				<div class="card__image">
					<img src="Images/CheeseCombo.jpg" alt="This is awesome">
				</div>
				<div class="card__title">Double Cheese Combo</div>
				<div class="card__price">$5.5</div>
			</div>
			<div class="card">
				<div class="card__image">
					<img src="Images/Salad.jpg" alt="This is awesome">
				</div>
				<div class="card__title">Crispy Slad</div>
				<div class="card__price">$3.8</div>
			</div>
			<div class="card">
				<div class="card__image">
					<img src="Images/GreenMeals.jpg" alt="This is awesome">
				</div>
				<div class="card__title">Austrian Combo</div>
				<div class="card__price">$6.0</div>
			</div>
			<div class="card">
				<div class="card__image">
					<img src="Images/McMuffin.jpg" alt="This is awesome">
				</div>
				<div class="card__title">Egg MacMaffin</div>
				<div class="card__price">$1.5</div>
			</div>
			<div class="card">
				<div class="card__image">
					<img src="Images/deluxe-burger.jpg" alt="This is awesome">
				</div>
				<div class="card__title">Deluxe Burger</div>
				<div class="card__price">$2.9</div>
			</div>	
		<a href="index.html" class="button-outline">Return to the Main Menu</a>
	
		</div>
	</div>
	
	<div class="adv-wrapper adv-wrapper--bg-1">
		<div class="container adv-content-centre">
			<div class="adv__title">Love MacDonald's More</div>
			<!--<a href="#" class="adv__button">Connect to Us</a>-->
			<form action="" class="subscribe">
				<input type="text" class="subscribe__input" placeholder="Your email adress">
				<input type="submit" class="subscribe__button" value="Subscribe">
			</form>
		</div>
	</div>
	
	<script src="https://kit.fontawesome.com/090f762d61.js" crossorigin="anonymous"></script>	
	

</body>
</html>