<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Бухарик</title>
	<link rel="shortcut icon" href="Images/Icon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="CSS/Service.css">
</head>
<body>
</head>
<body>

    <header class="header">

        {% include 'header.html'%}

    </header>
    

    <div class="intro">
        <div class="intro__text">
        <h1>Услуги</h1>
        Если у вас намечается праздник, и вы хотели бы закупить для него напитки — наши специалисты вам помогут.
        Для удобства наших клиентов действует как наличный, так и безналичный расчет, а с постоянными
        клиентами мы обсудим специальные условия. 
        </intro__text>
        
    </div>
    </div>
    <div class="client__text">
        <div class="left__col">
            <h1>Услуги</h1>
            <h4>Напитки и расчет услуг на мероприятия</h4>
            <div class="text1">
                Подготовка праздника, будь то частный банкет или корпоративный вечер, требует больших усилий и опыта. Поручите экспертам подбор напитков и их доставку на ваше мероприятие: наши высококвалифицированные консультанты составят меню с учётом всех нюансов, от состава гостей до выбранных закусок. Вам достаточно обратиться к администратору любого нашего магазина, и он поможет рассчитать необходимое количество продукции и организовать для вас доставку в удобное время.
            </div>
            <h4>Корпоративные подарки</h4>
            <div class="text1">
                Премиальный алкоголь в качестве подарка сотрудникам, руководителям, партнёрам, VIP-клиентам — это беспроигрышный ход. Статусность такого подарка и его универсальность говорят сами за себя. Наши консультанты порекомендуют как готовые решения для подарочного комплекта, так и уникальные наборы конкретной тематики для любого повода. Оригинальные подарочные упаковки из кожи, дерева, металла добавят настроения вашему презенту.

                Для ценителей и гурманов приятным сюрпризом станет эксклюзивное вино в сопровождении красочной книги об истории и особенностях вин. Дополнением к подарку могут служить бокалы и специализированная винная посуда, кубинские сигары. Отдельного внимания заслуживают гастрономические корзины с вином и бакалеей определённого региона.

                Чтобы заказать алкоголь подарочных форматов — приходите в любой из магазинов Noyaks Group.
            </div>
            <h4>Подарочные сертификаты</h4>
            <div class="text1">
                Подарочный сертификат — это возможность порадовать получателя подарка, не зная его вкусов и предпочтений. Мы предлагаем сертификаты номиналом 50BYN, 100BYN, 250BYN и 500BYN, которые вы можете приобрести во всей сети магазинов VINO&VINO.
            </div>
            <h4>Запросить прайс-лсит</h4>
            <div class="text1">
                Запросить прайс-лист

Вы можете сделать предварительный заказ, отправив список с желаемой продукцией для вашего мероприятия на электронный адрес corp@noyaks.by или позвонив по телефону +375 29 613 34 22. Вы получите консультацию специалиста, узнаете цены, условия и дальнейшие шаги для покупки нашей продукции.
            </div>
        </div>
       
    </div>
    <h1>{{title_form}}</h1>
    {% include 'form.html'%}
    
    {% include 'footer.html'%}
	
	
	

</body>
</html>